primary-language, aligned-language, searchbox {
    padding-bottom: 50px;
    display: block;
    clear: both;
}
searchbox {
    width: 910px;
    display: block;
}
h3 {
    width: 100%;
    text-align: center;
}
input.simplesearch {
    width: 875px;
    margin-left: 5px;
    float: left;
}
input.token {} input.lexeme {} input.grammartag {} input.complex {} hr {
    clear: both;
    float: none;
}
simplesearch, advancedsearch, complexsearch, searchrow, rowmanager {
    display: block;
    float: none;
    clear: both;
}
simplesearch input.gradient-btn, advancedsearch input.gradient-btn, complexsearch input.gradient-btn {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    float: right
}
simplesearch input.checkbox {
    margin-left: 10px;
    width: 10px;
}
simplesearch label {
    font-weight: lighter;
    font-family: 'EB Garamond', serif;
    font-size: 12px;
    margin-left: 10px;
    width: 75px;
}
input.outQueryExact, input.outQueryCQP {
    visibility: collapse;
    clear: both;
    float: none;
}
img#info2 {
    margin-bottom: 2px;
    margin-right: 4px;
    float: left;
}
a.down {
    margin-bottom: 5px;
    margin-top: 8px;
    margin-right: 4px;
    margin-left: 0px;
    float: left;
}
a.up {
    margin-bottom: 5px;
    margin-top: 8px;
    margin-right: 4px;
    float: left;
}
a.info3 {
    margin-bottom: 2px;
    margin-right: 4px;
    float: left;
}
input.qcp {
    width: 875px;
    margin-left: 5px;
    float: left
}
div.boxQCP {
    width: 99%;
    float: left;
}
div.tokensbetween {
    float: left;
    width: 830px;
    height: 34px;
}
div.tokensbetween span {
    margin-left: 530px;
    width: 140px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
div.tokensbetween label {
    font-weight: lighter;
    font-family: 'EB Garamond', serif;
    font-size: 12px;
    width: 35px;
}
div.tokensbetween label:first-of-type {
    margin-left: 10px;
}

div.tokensbetween input {
    font-size: 12px;
    font-family: Garamond, serif;
    width: 30px;
}