<div>
    <h2>Primary language:</h2>
    <br>
    <select class="primary-language" ng-model="primaryLanguage">
        <option ng-repeat="language in languages" value="{{language}}">{{language}}</option>
    </select>
</div>
<div>
    <h2>Aligned languages {{getAlignedLanguages()}}</h2>
    <div class="aligned-languages">
        <label ng-repeat="language in languages">
            <input type="checkbox" value="{{language}}" ng-model="alignedLanguages[language]">{{language}}</label>
    </div>
</div>