<div id="search" class="col-lg-6">

    <div id="query_for_language" class="col-lg-12">
        <div class="col-lg-7">
            <h2><translate>Query for</translate> {{fullNameOf(language)}}</h2>
		</div>
        <div ng-hide="getPrimary() == language">
            <div id="primary-button" ng-click="setPrimary(language)" translate>Set as primary language</div>
        </div>   
    </div>


    <!--<div id="simple_search" class="col-lg-12">
        <h2>Simple search</h2>
        <input type="text" class="form-control" id="siple_search" placeholder="Search" ng-model="exactQuery">
        <div id="main-buttons1" class="col-lg-7">
            <input type="submit" id="main" name="btn[xml]" value="Search"></input>
        </div>
        <div class="col-lg-4">
            <label class="checkbox-inline">
            <input type="checkbox" value="" ng-model="exactQueryCaseSensitive"><small> case sensitive</small>
        </label>
        </div>
        
    </div>-->

    <div id="advanced_search" class="col-lg-12">
        <div id="advanced" class="col-lg-12"> <h2 ng-hide="getPrimary() != language" translate>Basic search</h2>
			<div class="exclude">
				<label style="padding-bottom: 3px;" class="checkbox-inline" ng-hide="getPrimary() == language">
					<input type="checkbox" style="text-align: left;" ng-model="queryNegation"><b><small><translate>exclude (find everything except query match)</translate></small></b>
				</label>
			</div>
			
            <span ng-repeat="row in rowsNumber()"> <!-- ng-repeat wrapper -->
                <query-row show-tokens-in-between="$index != rowsNumber().length - 1" queryRow="queryRows[$index]" queryRows="queryRows" index="$index" language="language"></query-row>
            </span></div>

        <div class="plusminus-container">
            <div id="plus-minus-right" class="col-lg-1" ng-click="moreRows()">
                +
            </div>
            <div id="plus-minus-right" class="col-lg-1" ng-click="lessRows()">
                -
            </div>
        </div>
		
		<div id="metadata" ng-style="{'visibility': getMetaVisibility()}" class="col-lg-12">
				<h2 translate>Metadata</h2>
				<div class="show-hide-container" ng-click="changeVisible()">
					<div id="show-hide">
						{{getButtonState()}}
					</div>
				</div>
				<span ng-repeat="field in metaFieldsNumberArray()" ng-show="getVisible()">	
					<div id="placeholders" class="col-lg-12">
						<div class="form-group col-lg-4">
							<metadata index="$index" place="0"></metadata>
						</div>
						<div class="form-group col-lg-4">
							<metadata index="$index" place="1" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 != 1"></metadata>
						</div>
						<div class="form-group col-lg-4">
							<metadata index="$index" place="2" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 == 0"></metadata>
						</div>
					</div>
				</span>
		</div>      

    </div>

    <div id="complex_search" class="col-lg-12">
		<!--Complex (CQP) search-->
        <h2 translate>CQP Search</h2>
		<input type="button" id="main" style="float: right; position: relative; top: -30px; margin-right: 5px;" value="{{'Clear'|translate}}" ng-click="clear()">
        <input type="text" class="form-control" id="cqp_search" placeholder="{{'Search'|translate}}" ng-model="outputQuery" ng-value="getQuery()" ng-change="checkManualUpdate()">
        <div id="main-buttons" class="col-lg-12" >
        </div>
    </div>
</div>
</div>

<input type="hidden" name="query_{{language}}" ng-value="outputQuery"/>
<input type="hidden" name="metaToShow" ng-value="metaToShow()"/>