<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title translate>Corpus Query interface</title>
		<link rel="shortcut icon" href="img/jgu.ico">
        <link href="dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="dist/css/ngDialog.min.css">
        <link href="dist/css/ngDialog-theme-default.min.css" rel="stylesheet">
        <link rel="stylesheet/less" type="text/css" href="styl.less">
		<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.17.custom.css"/>
		<!--<link rel="stylesheet" href="css/keyboard.css" type="text/css"></link>-->
        <script src="vendor/less.min.js"></script>
        <script src="vendor/angular.min.js"></script>
        <script src="vendor/angular-animate.min.js"></script>
		<script src="vendor/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script src="dist/js/angular-gettext.js"></script>
		<script src="dist/js/ngDialog.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/jsfunctions.js"></script>
		<script type="text/javascript" src="js/translations.js"></script>
        <!--<script type="text/javascript" src="js/initDialogs.js"></script>-->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body ng-app="corpus" ng-controller="main">
        <div id="naglowek" class="navbar navbar-deafult" role="navigation">
			<div id="JGU" class="col-lg-1">
				<img id="jgu" src="img/icon.png"/>
				</div>
            <div id="Ustja" class="col-lg-10">
                <h1 translate>Parallel Corpus</h1>
                <h2></h2>
            </div>
			<div class="languageSwitch">
				[
				<span class="languageSwitch" ng-click="switchLanguage('pl_PL')">pl</span>
				<span class="languageSwitch" ng-click="switchLanguage('en')">en</span>
				<span class="languageSwitch" ng-click="switchLanguage('de_DE')">de</span>
				]
			</div>
        </div>
        <div class="container">

            <!--<language-chooser languages="languages" class="col-lg-2">
    
            </language-chooser>-->

            <form action="results.php" method="POST" target="_blank">
                <language-query ng-repeat="lang in getAlignedLanguages()" language="lang" primary-language="primaryLanguage" class="animate-repeat"></language-query>
				<div class="col-lg-12" style="float: left">
					<div>
						<input type="submit" id="main" name="btn[xml]" value="{{'Search'|translate}}"  class="search-button-1" ng-hide="getPrimary() != language"/>
						<input type="submit" id="main" name="btn[xmlfile]" value="{{'Export XML'|translate}}" style="font-size: 19px;" class="search-button-1" ng-hide="getPrimary() != language"/>
					</div>
				</div>
				<input type="hidden" name="langs[]" value="{{lang}}" ng-repeat="lang in getAlignedLanguages()"/>
				<!--<input type="hidden" name="selText_fullcorpus[]" value="{{lang}}" ng-repeat="lang in getAlignedLanguages()"/>
                <input type="hidden" name="acttexts[]" value="fullcorpus" />-->

                <input type="hidden" name="primlang" ng-value="getPrimaryLanguage()" />


                <!--
                <input type="hidden" name="fullselection" value="yes" />
                <input type="hidden" name="selAll" value="all" />
    
                -->
            </form>
        </div>
		<div class="col-lg-6" id="copyright">
			<translate>Copyright &copy; 2015 Johannes Gutenberg-Universität  / Johannes Gutenberg University Mainz (Germany)</translate>
			<br>
			<translate>Research funded in 2014-2015 by Internal University Research Funding of the Johannes Gutenberg University Mainz</translate>
		</div>
        <script src="jsapp/corpus.js"></script>
        <script src="jsapp/languageChooser/languageChooser.js"></script>
        <script src="jsapp/languageQuery/languageQuery.js"></script>
        <script src="jsapp/languageQuery/queryRow/queryRow.js"></script>
		<script src="jsapp/languageQuery/metadata/metadata.js"></script>
    </body>

</html>
