@color: #f0ad4e;
@font: 'Georgia';
@font-size: 10px;

query-row {
    display: inline-block;
    width: 100%;
}

div.tokens-between{
	display: inline-block; 
	float: left; 
	margin-top: 10px;
	margin-bottom: 10px;
}

div.options{
    width: 100%;
    float: left;
	text-align: left;
	margin-left: 15px;
	font-size: 12px;
	margin-bottom: 10px;
}

div.exclude{
	text-align: left;
	margin-bottom: 20px;
	margin-top: 15px;
	margin-left: 5px;
	padding-left: 8px;
	background-color: darken(@color, 10%);
	border-radius: 10px;
	box-shadow: 3px 3px 3px #777777;
	width: 60%;
}

.search {
    border: solid 1px black;
    background-color: lighten(@color, 10%);
    border-radius: 10px;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 2px;
}

body {
    background-color: lighten(@color, 20%);
}

div#naglowek {
    height: 120px;
    background-color: lighten(@color, 15%);
    border: solid 1px black;
}

div#copyright {
	margin: 5px;
	margin-right: 100px;
	font-size: 11px;
	text-align: right;
	float: right;
}

div#search-button {
	text-align: center;
	font-size: 14px;
}

.container {
    padding: 10px;
    margin-left: auto;
	margin-right: auto;
    background-image: linear-gradient(darken(@color, 20%) 0%, darken(@color, 50%) 50%, darken(@color, 10%) 100%);
    border-radius: 30px;
    box-shadow: 3px 3px 3px;
}

language-chooser {
    border: solid 2px black;
    background-color: lighten(@color, 10%);
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    text-align: center;
    display: block;
}

div#search {
    border: solid 2px black;
    background-color: lighten(@color, 20%);
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    text-align: center;
    padding: 6px;
}

div#simple_search {
    .search;
    padding-left: 5px;
    padding-right: 5px;
}

div#query_for_language {
    .search;
    background-color: darken(@color, 25%);
}

div#advanced_search {
    .search;
    padding:0;
}

div#advanced {
    padding:0;
}

div#complex_search {
    .search;
    padding-left: 5px;
    padding-right: 5px;
	padding-bottom: 5px;
}

div#Ustja {
    text-align: center; 
    padding: 10px;
}

div#main-buttons {
    position:relative;
    text-align: left;
    margin: 6px;
    margin-bottom:11px;
}

div#main-buttons1 {
    position:relative;
    text-align: right;
    margin: 4px;
    margin-top: 16px;
    margin-bottom:10px;
	cursor:pointer;
}

div#placeholders {
    padding: 0px;
    margin: 0;
}

div.plusminus-container {
    position: relative;
    top: -25px;
}

div.show-hide-container {
	position: relative;
	top: -30px;
}

div#plus-minus-left {	
    padding-left: 3px;
    padding-right: 10px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right:10px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div#primary-button {
	float: right;
	font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    margin-left:1px;
	margin-top: 10px;
	margin-bottom: 5px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div#plus-minus-right {
float: right;
    padding-left: 6px;
    padding-right: 8px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    margin-left:5px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div#show-hide {
	float: right;
	padding-right: 3px;
	padding-left: 3px;
    font-weight: bold;
    text-align: center;
    margin-left: 1px;
    margin-right:1px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:6px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div.languageSwitch {
	margin-top: 15px;
}

span.languageSwitch {
	cursor: pointer;
	font-weight: bold;
}


.primary-language{
    width: 90%;
    margin: 10px;
}

.aligned-languages {
    text-align: left;
}

.form-control {
    border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    padding:2px;
    height: 24px;
}

.form-control-small {
	.form-control;
	height: 20px;
	font-size: 12px;
	padding-left: 5	px;
	border-radius: 6px;
	width: 10px;
}

.form-control-checkbox {
	.form-control;
	border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    height: 24px;
	width: 83%;
	display: inline;
	border-radius: 6px;
	margin: -3px;
}

.keyboardInput {
    border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    padding:2px;
    height: 24px;
	border-radius: 6px;
}

.form-group {
    padding: 0;
}
.checkbox {
    padding:2px;
    margin:1px;
}

.tokens {
    text-align: left;
    padding:0;
}

img#jgu {
    height: 110px;
    margin: 3px;
	border-radius: 5px;
}

h1 {
    font: @font; 
    font-size: @font-size*3;
    color: darken(@color, 90%);
}

h2 {
    font: @font; 
    font-size: @font-size*1.8;
    color: darken(@color, 50%);
}

h3 {
    font: @font; 
    font-size: @font-size*1.4;
    color: darken(@color, 50%);
}

button#main {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border-radius: 10px;
}

label {
    margin: 3px;
}

.animate-repeat {
    position: relative;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  right: -50%;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  right: 0;
}

.search-button
{
padding: 8px 16px 8px;
margin-top: 10px;
margin-right: 5px;
font-size: 21px;
background: -webkit-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -moz-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 );font-weight: bold;
border-radius: 10px;
cursor: pointer;
float: left;
box-shadow: 4px 5px 3px #333333;
}

.search-button-1
{
	margin-top: 20px;
	margin-right: 3px;
	font-size: 20px;
	padding: 5px 10px 5px;
	background: -webkit-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: -moz-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: -o-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: -ms-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken(@color, 10%)', endColorstr='lighten(@color, 10%)',GradientType=0 );
	border-radius: 10px;
	box-shadow: 2px 2px;
	cursor: pointer;
	border: 1px;
}

.search-button-1:hover

{
	background: -webkit-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 10%)', endColorstr='lighten(@color, 30%)',GradientType=0 );
}

/* SQUARED ONE */
.squaredOne {
	width: 23px;
	height: 23px;
	display: inline-block;
	background: #111111;


	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
	border-radius: 4px;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 19px;
	height: 18px;
	left: -1px;
	top: -1px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(@color, 40%)', endColorstr='lighten(@color, 20%)',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	left: 2px;
	top: 2px;
	background: #A93B13;
	border-radius: 3px;

	background: -webkit-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -moz-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -o-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -ms-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: linear-gradient(top, #A93B13 0%, #C1461A 100%);



	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}