<div>
        <input type="{{meta.type}}" placeholder="{{meta.hint}}" ng-model="meta.value" class="form-control-checkbox" />
		<div class="squaredOne">
			<input type="checkbox" id="{{'squaredOne_' + index + '_' + place}}" ng-model="meta.inResults">
			</input>
			<label for="{{'squaredOne_' + index + '_' + place}}"  tooltip-html-unsafe="{{getTip()}}" tooltip-popup-delay="1200"></label>
		</div>
</div>